body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

header {
  background: #2c2c32;
  height: 80px;
  padding-top: 30px;
  text-align: center;
}
header a {
  padding-left: 30px;
  color: white;
  font-size: 36px;
  text-decoration: dashed;
}
header a:hover {
  color: rgb(159, 159, 165);
}

.active {
  color: rgb(71, 71, 170);
}
